{{template "body" .}}

{{define "title"}}Sign in{{end}}

{{define "main"}}
<section id="page-login">
	<form action="/login" method="POST">
		<fieldset>
			<legend>Login</legend>

			<p>
				<label for="input-email">E-Mail</label>
				{{with .Form.Errors.Email}}
				<small id="error-email">{{.}}</small>
				{{end}}
				<input id="input-email" name="Email" type="email" value='{{.Form.Email}}' />
			</p>

			<p>
				<label for="input-password">Password</label>
				{{with .Form.Errors.Password}}
				<small id="error-password">{{.}}</small>
				{{end}}
				<input id="input-password" name="Password" type="password" />
			</p>

			<p>
				{{with .Form.Error}}
				<small id="error-general">{{.}}</small>
				{{end}}
				<button id="submit-login" type="submit">Login</button>
			</p>
		</fieldset>
	</form>
</section>
{{end}}
