{{template "body" .}}

{{define "title"}}Sign up{{end}}

{{define "main"}}
<section id="page-register">
	<form action="/register" method="POST">
		<fieldset>
			<legend>Register</legend>

			<p>
				<label for="input-email">E-Mail</label>
				{{with .Form.FieldError.Email}}
				<small id="error-email">{{.}}</small>
				{{end}}
				<input id="input-email" name="Email" type="email" value="{{.Form.Email}}" />
			</p>

			<p>
				<label for="input-password">Password</label>
				{{with .Form.FieldError.Password}}
				<small id="error-password">{{.}}</small>
				{{end}}
				<input id="input-password" name="Password" type="password" />
			</p>

			<p>
				{{with .Form.Error}}
				<small id="error-general">{{.}}</small>
				{{end}}
				<button id="submit-register" type="submit">Register</button>
			</p>
		</fieldset>
	</form>
</section>
{{end}}
