{{template "body" .}}

{{define "title"}}Profile{{end}}

{{define "main"}}
<section id="page-account-read">
	<header>
		<h1>Account ({{.Account.Email}})</h1>
		<form action="/logout" method="POST">
			<p><button id="submit-logout" type="submit">Logout</button></p>
		</form>
	</header>

	<form action="/account/delete" method="POST">
		<p>
			<input id="id" name="id" type="hidden" value="{{.Account.ID}}" />
			<button id="submit-delete" type="submit" class="danger">Delete</button>
		</p>
	</form>
</section>
{{end}}
