<!DOCTYPE html>
<html lang="en">

<!-- attr order: class, id, name -->

<head>
	<title>{{template "title" .}} - DripFile</title>

	<meta charset="utf-8" />
	<meta name="description" content="File transfers made easy" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="stylesheet" href="/static/css/tachyons.min.css" />
	<script src="/static/js/alpine.min.js" defer></script>
	<script src="/static/js/htmx.min.js" defer></script>

	<style>
		html, body {
			height: 100%;
		}
		.g1 {
			gap: 1rem;
		}
		.g2 {
			gap: 2rem;
		}
		.g3 {
			gap: 4rem;
		}
		.g4 {
			gap: 8rem;
		}
		.g5 {
			gap: 16rem;
		}
	</style>
</head>

<body class="flex flex-column sans-serif">
	<header>
		<nav class="flex items-center justify-between bg-blue pa3">
			<a class="flex items-center white no-underline" href="/">
				<img class="h2 w-auto pr2" alt="DripFile Logo" src="/static/img/logo-white.svg">
				<span class="f3 b">DripFile</span>
			</a>
			<ul class="list flex items-center g2 mr2">
				<li><a class="link blue bg-white hover-bg-white-80 pv2 ph3 br3" id="nav-register" href="/register">Register</a></li>
				<li><a class="link white hover-white-80" id="nav-login" href="/dashboard">Login</a></li>
			</ul>
		</nav>
	</header>

	<main class="flex-auto pa3">
		{{template "main" .}}
	</main>

</body>

</html>
