{{template "body" .}}

{{define "title"}}Create Location{{end}}

{{define "main"}}
<section id="location-create">
	{{with .Form}}
	<form action="/location/create" method="POST">
		<header>
			<h2>Create Location - S3 Bucket</h2>
		</header>

		<label for="endpoint">Endpoint</label>
		<input id="endpoint" name="endpoint" type="text" />

		<label for="access-key-id">Access Key ID</label>
		<input id="access-key-id" name="access-key-id" type="text" />

		<label for="secret-access-key">Secret Access Key</label>
		<input id="secret-access-key" name="secret-access-key" type="password" />

		<label for="bucket-name">Bucket Name</label>
		<input id="bucket-name" name="bucket-name" type="text" />

		<button id="submit" type="submit">Create</button>
	</form>
	{{end}}
</section>
{{end}}
