{{template "body" .}}

{{define "title"}}Create Location{{end}}

{{define "main"}}
<section id="page-location-create">
	{{with .Form}}
	<form action="/location/create" method="POST">
		<header>
			<h2>Create Location - S3 Bucket</h2>
		</header>

		<label for="input-endpoint">Endpoint</label>
		<input id="input-endpoint" name="endpoint" type="text" value='{{.Get "endpoint"}}' />

		<label for="input-bucket-name">Bucket Name</label>
		<input id="input-bucket-name" name="bucket-name" type="text" value='{{.Get "bucket-name"}}' />

		<label for="input-access-key-id">Access Key ID</label>
		<input id="input-access-key-id" name="access-key-id" type="text" value='{{.Get "access-key-id"}}' />

		<label for="input-secret-access-key">Secret Access Key</label>
		<input id="input-secret-access-key" name="secret-access-key" type="password" />

		{{with .Errors.Get "general"}}
		<p><small id="error-general">{{.}}</small></p>
		{{end}}
		<button id="submit-create" type="submit">Create</button>
	</form>
	{{end}}
</section>
{{end}}
