{{template "body" .}}

{{define "title"}}Locations{{end}}

{{define "main"}}
<section id="page-location-list">
	<header>
		<h2>Locations</h2>
		<p>Where does your data live?</p>
	</header>
</section>

<section>
	<header>
		<p><a id="action-create" href="/location/create"><b>Create Location</b></a></p>
	</header>
</section>

<section>
	{{with .Locations}}
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Kind</th>
			</tr>
		</thead>
		{{range .}}
		<tr>
			<td><a href="/location/{{.ID}}">Details</a></td>
			<td>{{.Kind}}</td>
		</tr>
		{{end}}
	</table>
	{{end}}
</section>
{{end}}
