{{template "body" .}}

{{define "title"}}Location{{end}}

{{define "main"}}
<section id="page-location-read">
	<header>
		<h1>Location</h1>
		<a id="action-create" href="/location/create" class="button">Create Location</a>
	</header>

	{{with .Location}}
	<form action="/location/delete" method="POST">
		<p>
			<label>ID</label>
			<p>{{.ID}}</p>
		</p>

		<p>
			<label>Kind</label>
			<p>{{.Kind}}</p>
		</p>

		<p>
			<input id="id" name="id" type="hidden" value="{{.ID}}" />
			<button id="submit-delete" type="submit" class="danger">Delete</button>
		</p>
	</form>
	{{end}}
</section>
{{end}}
