[Unit]
Description=dripfile-tap
Documentation=https://github.com/theandrew168/dripfile
After=network.target network-online.target
Requires=network-online.target

[Service]
Type=notify
Restart=on-failure
RestartSec=5
User=dripfile
Group=dripfile
ExecStart=dripfile-tap

[Install]
WantedBy=multi-user.target
