{{template "body" .}}

{{define "title"}}Create Transfer{{end}}

{{define "main"}}
<section id="page-transfer-create">
	<form action="/transfer/create" method="POST">
		<fieldset>
			<legend>Create Transfer</legend>

			<p>
				<label for="input-pattern">Pattern</label>
				<input id="input-pattern" name="pattern" type="text" value='{{.Form.Get "pattern"}}' />
			</p>

			<p>
				<label for="select-src-id">Source</label>
				<select id="select-src-id" name="src-id">
					{{range .Locations}}
					<option value="{{.ID}}">{{.Name}}</option>
					{{end}}
				</select>
			</p>

			<p>
				<label for="select-dst-id">Destination</label>
				<select id="select-dst-id" name="dst-id">
					{{range .Locations}}
					<option value="{{.ID}}">{{.Name}}</option>
					{{end}}
				</select>
			</p>

			<p>
				{{with .Form.Errors.Get "general"}}
				<small id="error-general">{{.}}</small>
				{{end}}
				<button id="submit-create" type="submit">Create</button>
			</p>
		</fieldset>
	</form>
</section>
{{end}}
