{{template "body" .}}

{{define "title"}}Transfer{{end}}

{{define "main"}}
<section id="page-transfer-read">
	<header>
		<h2>Transfer</h2>
	</header>
	{{with .Transfer}}
	<form action="/transfer/delete" method="POST">
		<p>
			<label>ID</label>
			<p>{{.ID}}</p>
		</p>

		<p>
			<label>Pattern</label>
			<p>{{.Pattern}}</p>
		</p>

		<p><a href="/location/{{.Src.ID}}">Source</a></p>
		<p><a href="/location/{{.Dst.ID}}">Destination</a></p>

		<p>
			<input id="id" name="id" type="hidden" value="{{.ID}}" />
			<button id="submit-delete" type="submit">Delete</button>
		</p>
	</form>

	<form action="/transfer/run" method="POST">
		<p>
			<input id="id" name="id" type="hidden" value="{{.ID}}" />
			<button id="submit-delete" type="submit">Run now</button>
		</p>
	</form>
	{{end}}
</section>
{{end}}
