/* variables */

:root {
	--color-black: #000000;
	--color-danger: #e11d48;
	--color-danger-hover: #be123c;
	--color-primary: #2563eb;
	--color-primary-hover: #3b82f6;
	--color-primary-selected: #1d4ed8;
	--color-white: #ffffff;
	--color-white-hover: #e5e7eb;
	--border-radius: 0.5rem;
	--font-family: "Nunito", sans-serif;
	--justify-important: center;
	--justify-normal: left;
	--line-height: 1.6;
}


/* page */

html {
	font-family: var(--font-family);
	height: 100%;
	line-height: var(--line-height);
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
}


/* navbar */

nav {
	align-items: center;
	background-color: var(--color-primary);
	display: flex;
	justify-content: space-between;
	padding: 1rem;
}

nav ul {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
}

nav ul a {
	border-radius: var(--border-radius);
	color: var(--color-white);
	padding: 0.5rem;
	text-decoration: none;
}

nav ul a:hover {
	background-color: var(--color-primary-hover);
}

nav ul a.selected {
	background-color: var(--color-primary-selected);
}

.logo {
	align-items: center;
	color: var(--color-white);
	display: flex;
	gap: 0.5rem;
	text-decoration: none;
}

.logo img {
	height: 2.5rem;
	width: auto;
}

.logo span {
	font-size: 1.5rem;
	font-weight: bold;
}


/* footer */

footer {
	background-color: var(--color-primary);
	color: var(--color-white);
	padding: 2.5rem;
	text-align: center;
}


/* forms */

form label,
form small {
	display: block;
}

fieldset {
	padding: 2rem;
}

fieldset p {
	padding-bottom: 1rem;
}

fieldset p:last-child {
	padding-bottom: 0;
}

button,
.button {
	background-color: var(--color-primary);
	border: 0;
	border-radius: var(--border-radius);
	color: var(--color-white);
	cursor: pointer;
	padding: 0.5rem 1.5rem;
	text-decoration: none;
}

button:hover,
.button:hover {
	background-color: var(--color-primary-hover);
}

button.outline,
.button.outline {
	background-color: var(--color-white);
	color: var(--color-primary);
}

button.outline:hover,
.button.outline:hover {
	background-color: var(--color-white-hover);
}

input {
	padding: 0.5rem;
}

select {
	padding: 0.5rem;
}

.danger {
	background-color: var(--color-danger);
}

.danger:hover {
	background-color: var(--color-danger-hover);
}


/* content sections */

main {
	flex-grow: 1;
	padding: 2rem;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
}

section {
	margin: 0 auto;
	max-width: 768px;
}

section header {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding-bottom: 2rem;
}

section header a {
	flex-shrink: 0;
}


/* tables */

table {
	border: 1px solid var(--color-primary);
	border-radius: var(--border-radius);
	display: inline-block;
	margin: 0 auto;
	overflow-x: auto;
}

table td,
table th,
table tr {
	padding: 0.5rem 2rem;
}

table thead {
	background-color: var(--color-primary);
	border-radius: var(--border-radius);
	color: var(--color-white);
}
