{{template "body" .}}

{{define "title"}}Sign in{{end}}

{{define "main"}}
<section id="page-login">
	{{with .Form}}
	<form action="/login" method="POST">
		<header>
			<h2>Login to your account</h2>
		</header>

		<label for="email">E-Mail</label>
		{{with .Errors.Get "email"}}
		<small id="error-email">{{.}}</small>
		{{end}}
		<input id="input-email" name="email" type="email" />

		<label for="password">Password</label>
		{{with .Errors.Get "password"}}
		<small id="error-password">{{.}}</small>
		{{end}}
		<input id="input-password" name="password" type="password" />

		<button id="submit-login" type="submit">Login</button>
	</form>
	{{end}}
</section>
{{end}}
