{{template "body" .}}

{{define "title"}}Sign in{{end}}

{{define "main"}}
<section>
	{{with .Form}}
	<form action="/login" method="POST">
		<header>
			<h2>Login to your account</h2>
		</header>

		<label for="email">E-Mail</label>
		<input id="email" name="email" type="email" />
		{{with .Errors.Get "email"}}
		<small>{{.}}</small>
		{{end}}

		<label for="password">Password</label>
		<input id="password" name="password" type="password" />
		{{with .Errors.Get "password"}}
		<small>{{.}}</small>
		{{end}}

		<button id="submit" type="submit">Login</button>
	</form>
	{{end}}
</section>
{{end}}
