{{template "body" .}}

{{define "title"}}Sign up{{end}}

{{define "main"}}
<section>
	{{with .Form}}
	<form action="/register" method="POST">
		<header>
			<h2>Create your new account</h2>
		</header>

		<label for="email">E-Mail</label>
		<input id="email" name="email" type="email" />
		{{with .Errors.Get "email"}}
		<small>{{.}}</small>
		{{end}}

		<label for="username">Username</label>
		{{with .Errors.Get "username"}}
		<small>{{.}}</small>
		{{end}}
		<input id="username" name="username" type="text" />

		<label for="password">Password</label>
		<input id="password" name="password" type="password" />
		{{with .Errors.Get "password"}}
		<small>{{.}}</small>
		{{end}}

		<button id="submit" type="submit">Register</button>
	</form>
	{{end}}
</section>
{{end}}
