{{template "body" .}}

{{define "title"}}Sign up{{end}}

{{define "main"}}
<section id="page-register">
	{{with .Form}}
	<form action="/register" method="POST">
		<header>
			<h2>Create your new account</h2>
		</header>

		<label for="input-email">E-Mail</label>
		{{with .Errors.Get "email"}}
		<small id="error-email">{{.}}</small>
		{{end}}
		<input id="input-email" name="email" type="email" />

		<label for="input-username">Username</label>
		{{with .Errors.Get "username"}}
		<small id="error-username">{{.}}</small>
		{{end}}
		<input id="input-username" name="username" type="text" />

		<label for="input-password">Password</label>
		{{with .Errors.Get "password"}}
		<small id="error-password">{{.}}</small>
		{{end}}
		<input id="input-password" name="password" type="password" />

		<button id="submit-register" type="submit">Register</button>
	</form>
	{{end}}
</section>
{{end}}
