{{template "base" .}}

{{define "body"}}
<header>
	<nav>
		<!--
		<a href="/dashboard"><img alt="DripFile Logo" src="/static/img/logo_black.svg" height="70"></a>
		-->
		<ul>
			<li><a id="nav-dashboard" href="/dashboard">Dashboard</a></li>
			<li><a id="nav-transfer" href="/transfer">Transfers</a></li>
			<li><a id="nav-location" href="/location">Locations</a></li>
			<li><a id="nav-schedule" href="/schedule">Schedules</a></li>
			<li><a id="nav-history" href="/history">History</a></li>
			<li><a id="nav-account" href="/account">Account</a></li>
		</ul>
	</nav>
</header>

<hr>

<main>
	{{template "main" .}}
</main>

<hr>

{{end}}
