{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>{{template "title" .}} - DripFile</title>

	<meta charset="utf-8" />
	<meta name="description" content="Managed File Transfer as a Service" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="stylesheet" href="/static/css/mvp.css" />
	<link rel="stylesheet" href="/static/css/nunito.font.css" />
	<script src="/static/js/alpine.min.js" defer></script>
	<script src="/static/js/htmx.min.js" defer></script>
</head>

<body>
	{{template "body" .}}
</body>

</html>
{{end}}
