{{template "base" .}}

{{define "site"}}
<body class="site">
	<header class="nav">
		<nav>
			<a class="logo" href="/">
				<img alt="DripFile Logo" src="/static/img/logo-white.svg">
				<span>DripFile</span>
			</a>
			<ul>
				<li><a class="button outline" id="nav-register" href="/register">Register</a></li>
				<li><a id="nav-login" href="/dashboard">Login</a></li>
			</ul>
		</nav>
	</header>

	<main>
		{{block "main" .}}{{end}}
	</main>

	<footer>
		<p>TODO: Put something interesting here.</p>
	</footer>
</body>
{{end}}
