{{define "body"}}
<body class="sans-serif flex">
	<header>
		<nav class="h-100 bg-blue white pa2 w5">
			<a class="flex items-center white no-underline" href="/dashboard">
				<img class="h2 w-auto pr2" alt="DripFile Logo" src="/static/img/logo-white.svg">
				<span class="f3 b">DripFile</span>
			</a>
			<ul class="list flex flex-column ph2">
				<li><a class="link flex white no-underline items-center hover-bg-light-blue pv1 ph2 br3" id="nav-dashboard" href="/dashboard">
					<!-- Heroicon name: outline/home -->
					<svg class="flex-none w2 h2 mr2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
					</svg>
					Dashboard
				</a></li>
				<li><a class="link flex white no-underline items-center hover-bg-light-blue pv1 ph2 br3" id="nav-location" href="/location">
					<!-- Heroicon name: outline/desktop-computer -->
					<svg class="flex-none w2 h2 mr2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
					  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.75 17L9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 002-2V5a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
					</svg>
					Locations
				</a></li>
				<li><a class="link flex white no-underline items-center hover-bg-light-blue pv1 ph2 br3" id="nav-account" href="/account">
					<!-- Heroicon name: outline/users -->
					<svg class="flex-none w2 h2 mr2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z" />
					</svg>
					Account
				</a></li>
			</ul>
		</nav>
	</header>

	<main class="w-100 bg-light-gray">
		<!-- search bar -->
		<div class="bg-white pa2 w-100 shadow-2">
			<form action="/dashboard" method="GET">
				<input id="input-search" name="Search" />
			</form>
		</div>

		{{template "main" .}}
	</main>
</body>
{{end}}
