<!DOCTYPE html>
<html lang="en" class="h-full bg-white">

<!-- attr order: class, id, name -->

<head>
	<title>{{template "title"}} - DripFile</title>

	<meta charset="utf-8" />
	<meta name="description" content="File transfers made easy" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="stylesheet" href="/static/css/tailwind.min.css" />
	<script src="/static/js/alpine.min.js" defer></script>
	<script src="/static/js/htmx.min.js" defer></script>
</head>

{{template "body" .}}

</html>
