{{define "body"}}
<body class="font-sans flex flex-col h-full">
	<header>
		<nav class="bg-blue-600 flex flex-row items-center justify-between p-4 text-white">
			<a class="flex flex-row items-center" href="/">
				<img class="h-16 w-auto" alt="DripFile Logo" src="/static/img/logo-white.svg">
				<span class="text-lg font-bold">DripFile</span>
			</a>
			<ul class="flex flex-row items-center gap-4">
				<li><a class="hover:text-gray-200" id="nav-register" href="/register">Register</a></li>
				<li><a class="hover:text-gray-200" id="nav-login" href="/dashboard">Login</a></li>
			</ul>
		</nav>
	</header>

	<main class="flex-grow">
		{{template "main" .}}
	</main>

	{{template "footer"}}
</body>
{{end}}
