{{define "title"}}Sign up{{end}}

{{define "main"}}
<section id="page-register">
	{{with .Form}}
	<form action="/register" method="POST">
		<fieldset>
			<legend>Register</legend>

			<p>
				<label for="input-email">E-Mail</label>
				{{with .Errors.Get "email"}}
				<small id="error-email">{{.}}</small>
				{{end}}
				<input id="input-email" name="email" type="email" />
			</p>

			<p>
				<label for="input-password">Password</label>
				{{with .Errors.Get "password"}}
				<small id="error-password">{{.}}</small>
				{{end}}
				<input id="input-password" name="password" type="password" />
			</p>

			<p>
				{{with .Errors.Get "general"}}
				<small id="error-general">{{.}}</small>
				{{end}}
				<button id="submit-register" type="submit">Register</button>
			</p>
		</fieldset>
	</form>
	{{end}}
</section>
{{end}}
