{{define "title"}}Create Location{{end}}

{{define "main"}}
<section class="bg-white br3 shadow-2 pa2 ma3" id="page-location-create">
	<form action="/location/create" method="POST">
		<fieldset>
			<legend>Create Location: S3 Bucket</legend>

			<p>
				<label for="input-endpoint">Endpoint</label>
				{{with .Form.FieldError.Endpoint}}
				<small id="error-endpoint">{{.}}</small>
				{{end}}
				<input id="input-endpoint" name="Endpoint" type="text" value='{{.Form.Endpoint}}' />
			</p>

			<p>
				<label for="input-bucket-name">Bucket Name</label>
				{{with .Form.FieldError.BucketName}}
				<small id="error-bucket-name">{{.}}</small>
				{{end}}
				<input id="input-bucket-name" name="BucketName" type="text" value='{{.Form.BucketName}}' />
			</p>

			<p>
				<label for="input-access-key-id">Access Key ID</label>
				{{with .Form.FieldError.AccessKeyID}}
				<small id="error-access-key-id">{{.}}</small>
				{{end}}
				<input id="input-access-key-id" name="AccessKeyID" type="text" value='{{.Form.AccessKeyID}}' />
			</p>

			<p>
				<label for="input-secret-access-key">Secret Access Key</label>
				{{with .Form.FieldError.SecretAccessKey}}
				<small id="error-secret-access-key">{{.}}</small>
				{{end}}
				<input id="input-secret-access-key" name="SecretAccessKey" type="password" />
			</p>

			<p>
				{{with .Form.Error}}
				<small id="error-general">{{.}}</small>
				{{end}}
				<button id="submit-create" type="submit">Create</button>
			</p>
		</fieldset>
	</form>
</section>
{{end}}
