{{define "title"}}Location{{end}}
{{define "page"}}location{{end}}

{{define "main"}}
<section class="" id="page-location-read">
	<header>
		<a id="action-create" href="/location/create">Create Location</a>
	</header>

	<p>
		<h2>ID</h2>
		<p>{{.Location.ID}}</p>
	</p>

	<p>
		<h2>Kind</h2>
		<p>{{.Location.Kind}}</p>
	</p>

	<p>
		<h2>Name</h2>
		<p>{{.Location.Name}}</p>
	</p>

	<br>
	<form action="/location/delete" method="POST">
		<p>
			<input id="hidden-location-id" name="LocationID" type="hidden" value="{{.Location.ID}}" />
			<button id="submit-delete" type="submit">Delete</button>
		</p>
	</form>
</section>
{{end}}
