{{template "body" .}}

{{define "title"}}Transfer{{end}}

{{define "main"}}
<section id="page-transfer-read">
	<header>
		<h1>Transfer</h1>
		<a id="action-create" href="/transfer/create" class="button">Create Transfer</a>
	</header>

	<p>
		<h2>ID</h2>
		<p>{{.Transfer.ID}}</p>
	</p>

	<p>
		<h2>Source</h2>
		<p><a href="/location/{{.Transfer.Src.ID}}">{{.Transfer.Src.Name}}</a></p>
	</p>

	<p>
		<h2>Destination</h2>
		<p><a href="/location/{{.Transfer.Dst.ID}}">{{.Transfer.Dst.Name}}</a></p>
	</p>

	<p>
		<h2>Schedule</h2>
		<p><a href="/schedule/{{.Transfer.Schedule.ID}}">{{.Transfer.Schedule.Name}}</a></p>
	</p>

	<p>
		<h2>Pattern</h2>
		<p>{{.Transfer.Pattern}}</p>
	</p>

	<br>
	<form action="/transfer/delete" method="POST">
		<p>
			<input id="hidden-transfer-id" name="TransferID" type="hidden" value="{{.Transfer.ID}}" />
			<button id="submit-delete" type="submit" class="danger">Delete</button>
		</p>
	</form>

	<br>
	<form action="/transfer/run" method="POST">
		<p>
			<input id="hidden-transfer-id" name="TransferID" type="hidden" value="{{.Transfer.ID}}" />
			<button id="submit-run" type="submit">Run now</button>
		</p>
	</form>
</section>
{{end}}
