[Unit]
Description=dripfile-worker
Documentation=https://github.com/theandrew168/dripfile
After=network.target network-online.target
Requires=network-online.target

[Service]
Type=notify
Restart=on-failure
RestartSec=5
User=dripfile
Group=dripfile
ExecStart=/usr/bin/dripfile -conf /etc/dripfile.conf worker

[Install]
WantedBy=multi-user.target
