{{define "title"}}Managed File Transfer as a Service{{end}}

{{define "main"}}
<section id="page-index">
	<header>
		<h1>A <u>modern</u> managed file transfer service</h1>
	</header>

	<p><b>Any file, any destination,</b> just let <b>DripFile</b> handle the dirty work.</p>

	<h3>S3, SFTP, FTP</h3>
	<p>Supports file transfer between multiple common protocols.</p>

	<h3>Custom Schedules</h3>
	<p>Choose from common schedules (Daily, Weekly, etc) or build your own.</p>

	<h3>Try for Free</h3>
	<p>First 10GB of data transfer per month is free!</p>
</section>
{{end}}
