[Unit]
Description=dripfile-migrate
Documentation=https://github.com/theandrew168/dripfile
After=network.target network-online.target
Requires=network-online.target

[Service]
Type=oneshot
Restart=on-failure
RestartSec=5
User=dripfile
Group=dripfile
ExecStart=dripfile-migrate -conf /etc/dripfile.conf

[Install]
WantedBy=multi-user.target
