{{template "body" .}}

{{define "title"}}Profile{{end}}

{{define "main"}}
<article id="page-account-read">
	<header>
		<h2>Account</h2>
		<p>Account and user profile information.</p>
	</header>
</section>
<section>
	{{with .Account}}
	<form action="/logout" method="POST">
		<p><button id="submit-logout" type="submit">Logout</button></p>
	</form>
	<form action="/account/delete" method="POST">
		<p>
			<input id="id" name="id" type="hidden" value="{{.ID}}" />
			<button id="submit-delete" type="submit">Delete</button>
		</p>
	</form>
	{{end}}
</article>
{{end}}
