{{define "title"}}Profile{{end}}
{{define "page"}}account{{end}}

{{define "main"}}
<section class="bg-white br3 shadow-2 pa2 ma3" id="page-account-read">
	<header>
		<h1>Account ({{.Account.Email}})</h1>
		<form action="/logout" method="POST">
			<p><button id="submit-logout" type="submit">Logout</button></p>
		</form>
	</header>

	<form action="/account/delete" method="POST">
		<p>
			<input id="hidden-account-id" name="AccountID" type="hidden" value="{{.Account.ID}}" />
			<button id="submit-delete" type="submit">Delete</button>
		</p>
	</form>
</section>
{{end}}
