<!DOCTYPE html>
<html lang="en">

<head>
	<title>DripFile - TODO Title</title>

	<meta charset="utf-8" />
	<meta name="description" content="Managed File Transfer as a Service" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="stylesheet" href="/static/css/tailwind.min.css" />
	<script src="/static/js/alpine.min.js" defer></script>
	<script src="/static/js/htmx.min.js" defer></script>

	<style>
		@font-face {
			font-family: "Nunito";
			font-weight: normal;
			font-style: normal;
			src: url("/static/font/nunito/Nunito-Regular.ttf") format("truetype");
		}
		
		@font-face {
			font-family: "Nunito";
			font-weight: bold;
			font-style: normal;
			src: url("/static/font/nunito/Nunito-Bold.ttf") format("truetype");
		}
		
		@font-face {
			font-family: "Nunito";
			font-weight: normal;
			font-style: italic;
			src: url("/static/font/nunito/Nunito-Italic.ttf") format("truetype");
		}
		
		@font-face {
			font-family: "Nunito";
			font-weight: bold;
			font-style: italic;
			src: url("/static/font/nunito/Nunito-BoldItalic.ttf") format("truetype");
		}

		.font-family-nunito {
			font-family: "Nunito", sans-serif;
		}
	</style>
</head>

<body>
	<p>Hello, DripFile!</p>
</body>

</html>
